@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #4329b6;
}

a:hover {
  color: rgb(255, 255, 255);
}

h1,
h2 {
  color: #4329b6;
}

h1:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

p {
  color: rgb(190, 13, 13);
  font-weight: 100;
}

.hover-categories:hover {
  display: flex;
  color: #000000;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.n-categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

.n-categories:hover {
  color: #000000;
}

.card {
  display: grid;
  grid-template-columns: 250px 1fr;
  padding-bottom: 20px;
}

.card1 {
  align-self: center;
  text-align: left;
}

.card2 {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-self: center;
  margin-bottom: 10px;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #000000;
  padding: 2rem;
  border: 1px;
  border-radius: 2px;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #000000;
  padding: 32px
}


main {  
  background-color: #fff;
  padding-top: 10px;
}

.logo {
  cursor: pointer;
  white-space: nowrap;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  white-space: nowrap;
  color: #4329b6;
}

.corpo {
  margin-left: 200px;
  margin-top: 8rem;
  
}


.bottom {
  display: flex;
  background-color: #4329b6;
  color: rgb(0, 0, 0);
  border: none;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.9; /* define a transparência em 50% */
}

.about {
  padding: 20px;
  background-color: #000000;
  text-align: center;
}