* {
  box-sizing: border-box;
  margin: 0px;
}

h1 , h2 {
  color: rgb(0, 0, 0);
}

h1:hover {
  color: aqua;
  cursor: pointer;
}

p {
  color: rgb(190, 13, 13);
}

.orange:hover{
  color: rgb(0, 0, 0);
}

.orange {
  color: rgb(5, 5, 5);
}

.card img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  padding: 10px;

}

.nav {
  background-color: rgb(190, 13, 13);
  padding: 1rem;
  border: 2px solid black;
}

.footer {
  background-color: rgb(190, 13, 13);
  padding: 1rem;
  border: 2px solid black;
}
